In [73]:
import pandas as pd
df = pd.read_csv("datasets/presidents.csv")
df.head(10)

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"
5,6,John Quincy Adams,"Jul 11, 1767","57 years, 236 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","18 years, 356 days","Feb 23, 1848","80 years, 227 days"
6,7,Andrew Jackson,"Mar 15, 1767","61 years, 354 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","8 years, 96 days","Jun 8, 1845","78 years, 85 days"
7,8,Martin Van Buren,"Dec 5, 1782","54 years, 89 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","21 years, 142 days","Jul 24, 1862","79 years, 231 days"
8,9,William H. Harrison,"Feb 9, 1773","68 years, 23 daysMar 4, 1841","68 years, 54 days Apr 4, 1841[b]",NaN,"Apr 4, 1841","68 years, 54 days"
9,10,John Tyler,"Mar 29, 1790","51 years, 6 daysApr 4, 1841","54 years, 340 daysMar 4, 1845","16 years, 320 days","Jan 18, 1862","71 years, 295 days"

In [74]:
df['First'] = df['President']
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James Monroe

In [75]:
df['First'] = df['First'].replace("[ ].*",'',regex=True)
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [76]:
df["President"] = df["President"].replace(".*[ ]",'',regex=True)
df.columns
df = df.rename(columns = {'President':'Last'})
df.head()

,#,Last,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [77]:
df["Age at Term Start"] = df['Age atstart of presidency']
df["Age at Term Start"] = df["Age at Term Start"].replace("[A-Z].*","",regex=True)
df["Age atstart of presidency"] = df['Age atstart of presidency'].replace(r"^.*?(?=[A-Z])","",regex=True)
df['Born'] = df["Born"].replace("\[a\]?","",regex=True)
df = df.rename(columns = {"Age atstart of presidency":"Term Start Date"})
df.head()

,#,Last,Born,Term Start Date,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Age at Term Start
0,1,Washington,"Feb 22, 1732","Apr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,"57 years, 67 days"
1,2,Adams,"Oct 30, 1735","Mar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,"61 years, 125 days"
2,3,Jefferson,"Apr 13, 1743","Mar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,"57 years, 325 days"
3,4,Madison,"Mar 16, 1751","Mar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,"57 years, 353 days"
4,5,Monroe,"Apr 28, 1758","Mar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,"58 years, 310 days"

In [78]:
df = df.rename(columns= {"Post-presidencytimespan":"Lifespan post presidency","Age":"Age at death"})
df.head()

,#,Last,Born,Term Start Date,Age atend of presidency,Lifespan post presidency,Died,Age at death,First,Age at Term Start
0,1,Washington,"Feb 22, 1732","Apr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,"57 years, 67 days"
1,2,Adams,"Oct 30, 1735","Mar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,"61 years, 125 days"
2,3,Jefferson,"Apr 13, 1743","Mar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,"57 years, 325 days"
3,4,Madison,"Mar 16, 1751","Mar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,"57 years, 353 days"
4,5,Monroe,"Apr 28, 1758","Mar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,"58 years, 310 days"

In [79]:
print(df.columns)

Index(['#', 'Last', 'Born', 'Term Start Date', 'Age atend of presidency',
       'Lifespan post presidency', 'Died', 'Age at death', 'First',
       'Age at Term Start'],
      dtype='object')

In [80]:
df["Age at Term End"] = df["Age atend of presidency"]
df["Age at Term End"] = df["Age at Term End"].replace("[A-Z].*","",regex=True)
df["Age atend of presidency"] = df["Age atend of presidency"].replace(r"^.*?(?=[A-Z])","",regex=True)
df = df.rename(columns = {"First":"First Name","Last":"Last Name","Age atend of presidency":"Term End Date"})
df.head()

,#,Last Name,Born,Term Start Date,Term End Date,Lifespan post presidency,Died,Age at death,First Name,Age at Term Start,Age at Term End
0,1,Washington,"Feb 22, 1732","Apr 30, 1789","Mar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,"57 years, 67 days","65 years, 10 days"
1,2,Adams,"Oct 30, 1735","Mar 4, 1797","Mar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,"61 years, 125 days","65 years, 125 days"
2,3,Jefferson,"Apr 13, 1743","Mar 4, 1801","Mar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,"57 years, 325 days","65 years, 325 days"
3,4,Madison,"Mar 16, 1751","Mar 4, 1809","Mar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,"57 years, 353 days","65 years, 353 days"
4,5,Monroe,"Apr 28, 1758","Mar 4, 1817","Mar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,"58 years, 310 days","66 years, 310 days"

In [81]:
print(list(df.columns))

['#', 'Last Name', 'Born', 'Term Start Date', 'Term End Date', 'Lifespan post presidency', 'Died', 'Age at death', 'First Name', 'Age at Term Start', 'Age at Term End']

In [90]:
df_reordered = df[['#', 'First Name','Last Name', 'Born', 'Term Start Date', 'Age at Term Start', 'Term End Date', 'Age at Term End', 'Lifespan post presidency', 'Died', 'Age at death']]
df_reordered

,#,First Name,Last Name,Born,Term Start Date,Age at Term Start,Term End Date,Age at Term End,Lifespan post presidency,Died,Age at death
0,1,George,Washington,"Feb 22, 1732","Apr 30, 1789","57 years, 67 days","Mar 4, 1797","65 years, 10 days","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John,Adams,"Oct 30, 1735","Mar 4, 1797","61 years, 125 days","Mar 4, 1801","65 years, 125 days","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas,Jefferson,"Apr 13, 1743","Mar 4, 1801","57 years, 325 days","Mar 4, 1809","65 years, 325 days","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James,Madison,"Mar 16, 1751","Mar 4, 1809","57 years, 353 days","Mar 4, 1817","65 years, 353 days","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James,Monroe,"Apr 28, 1758","Mar 4, 1817","58 years, 310 days","Mar 4, 1825","66 years, 310 days","6 years, 122 days","Jul 4, 1831","73 years, 67 days"
5,6,John,Adams,"Jul 11, 1767","Mar 4, 1825","57 years, 236 days","Mar 4, 1829","61 years, 236 days","18 years, 356 days","Feb 23, 1848","80 years, 227 days"
6,7,Andrew,Jackson,"Mar 15, 1767","Mar 4, 1829","61 years, 354 days","Mar 4, 1837","69 years, 354 days","8 years, 96 days","Jun 8, 1845","78 years, 85 days"
7,8,Martin,Buren,"Dec 5, 1782","Mar 4, 1837","54 years, 89 days","Mar 4, 1841","58 years, 89 days","21 years, 142 days","Jul 24, 1862","79 years, 231 days"
8,9,William,Harrison,"Feb 9, 1773","Mar 4, 1841","68 years, 23 days","Apr 4, 1841[b]","68 years, 54 days",NaN,"Apr 4, 1841","68 years, 54 days"
9,10,John,Tyler,"Mar 29, 1790","Apr 4, 1841","51 years, 6 days","Mar 4, 1845","54 years, 340 days","16 years, 320 days","Jan 18, 1862","71 years, 295 days"
10,11,James,Polk,"Nov 2, 1795","Mar 4, 1845","49 years, 122 days","Mar 4, 1849","53 years, 122 days",103 days,"Jun 15, 1849","53 years, 225 days"
11,12,Zachary,Taylor,"Nov 24, 1784","Mar 4, 1849","64 years, 100 days","Jul 9, 1850[b]","65 years, 227 days",NaN,"Jul 9, 1850","65 years, 227 days"
12,13,Millard,Fillmore,"Jan 7, 1800","Jul 9, 1850","50 years, 183 days","Mar 4, 1853","53 years, 56 days","21 years, 4 days","Mar 8, 1874","74 years, 60 days"
13,14,Franklin,Pierce,"Nov 23, 1804","Mar 4, 1853","48 years, 101 days","Mar 4, 1857","52 years, 101 days","12 years, 218 days","Oct 8, 1869","64 years, 319 days"
14,15,James,Buchanan,"Apr 23, 1791","Mar 4, 1857","65 years, 315 days","Mar 4, 1861","69 years, 315 days","7 years, 89 days","Jun 1, 1868","77 years, 39 days"
15,16,Abraham,Lincoln,"Feb 12, 1809","Mar 4, 1861","52 years, 20 days","Apr 15, 1865[b]","56 years, 62 days",NaN,"Apr 15, 1865","56 years, 62 days"
16,17,Andrew,Johnson,"Dec 29, 1808","Apr 15, 1865","56 years, 107 days","Mar 4, 1869","60 years, 65 days","6 years, 149 days","Jul 31, 1875","66 years, 214 days"
17,18,Ulysses,Grant,"Apr 27, 1822","Mar 4, 1869","46 years, 311 days","Mar 4, 1877","54 years, 311 days","8 years, 141 days","Jul 23, 1885","63 years, 87 days"
18,19,Rutherford,Hayes,"Oct 4, 1822","Mar 4, 1877","54 years, 151 days","Mar 4, 1881","58 years, 151 days","11 years, 319 days","Jan 17, 1893","70 years, 105 days"
19,20,James,Garfield,"Nov 19, 1831","Mar 4, 1881","49 years, 105 days","Sep 19, 1881[b]","49 years, 304 days",NaN,"Sep 19, 1881","49 years, 304 days"
20,21,Chester,Arthur,"Oct 5, 1829","Sep 19, 1881","51 years, 349 days","Mar 4, 1885","55 years, 150 days","1 year, 259 days","Nov 18, 1886","57 years, 44 days"
21,22,Grover,Cleveland,"Mar 18, 1837","Mar 4, 1885","47 years, 351 days","Mar 4, 1889","51 years, 351 days","4 years, 0 days[c]","Jun 24, 1908","71 years, 98 days"
22,23,Benjamin,Harrison,"Aug 20, 1833","Mar 4, 1889","55 years, 196 days","Mar 4, 1893","59 years, 196 days","8 years, 9 days","Mar 13, 1901","67 years, 205 days"
23,24,Grover,Cleveland,"Mar 18, 1837","Mar 4, 1893","55 years, 351 days","Mar 4, 1897","59 years, 351 days","11 years, 112 days[d]","Jun 24, 1908","71 years, 98 days"
24,25,William,McKinley,"Jan 29, 1843","Mar 4, 1897","54 years, 34 days","Sep 14, 1901[b]","58 years, 228 days",NaN,"Sep 14, 1901","58 years, 228 days"
25,26,Theodore,Roosevelt,"Oct 27, 1858","Sep 14, 1901","42 years, 322 days","Mar 4, 1909","50 years, 128 days","9 years, 308 days","Jan 6, 1919","60 years, 71 days"
26,27,William,Taft,"Sep 15, 1857","Mar 4, 1909","51 years, 170 days","Mar 4, 1913","55 years, 170 days","17 years, 4 days","Mar 8, 1930","72 years, 174 days"
27,28,Woodrow,Wilson,"Dec 28, 1856","Mar 4, 1913","56 years, 66 days","Mar 4, 1921","64 years, 66 days","2 years, 336 days","Feb 3, 1924","67 years, 37 days"
28,29,Warren,Harding,"Nov 2, 1865","Mar 4, 1921","55 years, 122 days","Aug 2, 1923[b]","57 years, 273 days",NaN,"Aug 2, 1923","57 years, 273 days"
29,30,Calvin,Coolidge,"Jul 4, 1872","Aug 2, 1923","51 years, 29 days","Mar 4, 1929","56 years, 243 days","3 years, 307 days","Jan 5, 1933","60 years, 185 days"
30,31,Herbert,Hoover,"Aug 10, 1874","Mar 4, 1929","54 years, 206 days","Mar 4, 1933","58 years, 206 days","31 years, 230 days","Oct 20, 1964","90 years, 71 days"
31,32,Franklin,Roosevelt,"Jan 30, 1882","Mar 4, 1933","51 years, 33 days","Apr 12, 1945[b]","63 years, 72 days",NaN,"Apr 12, 1945","63 years, 72 days"
32,33,Harry,Truman,"May 8, 1884","Apr 12, 1945","60 years, 339 days","Jan 20, 1953","68 years, 257 days","19 years, 341 days","Dec 26, 1972","88 years, 232 days"
33,34,Dwight,Eisenhower,"Oct 14, 1890","Jan 20, 1953","62 years, 98 days","Jan 20, 1961","70 years, 98 days","8 years, 67 days","Mar 28, 1969","78 years, 165 days"
34,35,John,Kennedy,"May 29, 1917","Jan 20, 1961","43 years, 236 days","Nov 22, 1963[b]","46 years, 177 days",NaN,"Nov 22, 1963","46 years, 177 days"
35,36,Lyndon,Johnson,"Aug 27, 1908","Nov 22, 1963","55 years, 87 days","Jan 20, 1969","60 years, 146 days","4 years, 2 days","Jan 22, 1973","64 years, 148 days"
36,37,Richard,Nixon,"Jan 9, 1913","Jan 20, 1969","56 years, 11 days","Aug 9, 1974[e]","61 years, 212 days","19 years, 256 days","Apr 22, 1994","81 years, 103 days"
37,38,Gerald,Ford,"Jul 14, 1913","Aug 9, 1974","61 years, 26 days","Jan 20, 1977","63 years, 190 days","29 years, 340 days","Dec 26, 2006","93 years, 165 days"
38,39,Jimmy,Carter,"Oct 1, 1924","Jan 20, 1977","52 years, 111 days","Jan 20, 1981","56 years, 111 days","38 years, 175 days",(living),"94 years, 286 days"
39,40,Ronald,Reagan,"Feb 6, 1911","Jan 20, 1981","69 years, 349 days","Jan 20, 1989","77 years, 349 days","15 years, 137 days","Jun 5, 2004","93 years, 120 days"
40,41,George,Bush,"Jun 12, 1924","Jan 20, 1989","64 years, 222 days","Jan 20, 1993","68 years, 222 days","25 years, 314 days","Nov 30, 2018","94 years, 171 days"
41,42,Bill,Clinton,"Aug 19, 1946","Jan 20, 1993","46 years, 154 days","Jan 20, 2001","54 years, 154 days","18 years, 175 days",(living),"72 years, 329 days"
42,43,George,Bush,"Jul 6, 1946","Jan 20, 2001","54 years, 198 days","Jan 20, 2009","62 years, 198 days","10 years, 175 days",(living),"73 years, 8 days"
43,44,Barack,Obama,"Aug 4, 1961","Jan 20, 2009","47 years, 169 days","Jan 20, 2017","55 years, 169 days","2 years, 175 days",(living),"57 years, 344 days"

In [104]:
df["Term End Date"] = df["Term End Date"].replace("\[.\]",'',regex=True)
df["Lifespan post presidency"] = df["Lifespan post presidency"].fillna("0 days")
df = df[['#', 'First Name','Last Name', 'Born', 'Term Start Date', 'Age at Term Start', 'Term End Date', 'Age at Term End', 'Lifespan post presidency', 'Died', 'Age at death']]
df[["Term Start Date","Term End Date","Died"]] = df[["Term Start Date","Term End Date","Died"]].apply(pd.to_datetime, errors = 'coerce')
df["Died"] = df["Died"].fillna("Still alive")
df

,#,First Name,Last Name,Born,Term Start Date,Age at Term Start,Term End Date,Age at Term End,Lifespan post presidency,Died,Age at death
0,1,George,Washington,"Feb 22, 1732",1789-04-30,"57 years, 67 days",1797-03-04,"65 years, 10 days","2 years, 285 days",1799-12-14 00:00:00,"67 years, 295 days"
1,2,John,Adams,"Oct 30, 1735",1797-03-04,"61 years, 125 days",1801-03-04,"65 years, 125 days","25 years, 122 days",1826-07-04 00:00:00,"90 years, 247 days"
2,3,Thomas,Jefferson,"Apr 13, 1743",1801-03-04,"57 years, 325 days",1809-03-04,"65 years, 325 days","17 years, 122 days",1826-07-04 00:00:00,"83 years, 82 days"
3,4,James,Madison,"Mar 16, 1751",1809-03-04,"57 years, 353 days",1817-03-04,"65 years, 353 days","19 years, 116 days",1836-06-28 00:00:00,"85 years, 104 days"
4,5,James,Monroe,"Apr 28, 1758",1817-03-04,"58 years, 310 days",1825-03-04,"66 years, 310 days","6 years, 122 days",1831-07-04 00:00:00,"73 years, 67 days"
5,6,John,Adams,"Jul 11, 1767",1825-03-04,"57 years, 236 days",1829-03-04,"61 years, 236 days","18 years, 356 days",1848-02-23 00:00:00,"80 years, 227 days"
6,7,Andrew,Jackson,"Mar 15, 1767",1829-03-04,"61 years, 354 days",1837-03-04,"69 years, 354 days","8 years, 96 days",1845-06-08 00:00:00,"78 years, 85 days"
7,8,Martin,Buren,"Dec 5, 1782",1837-03-04,"54 years, 89 days",1841-03-04,"58 years, 89 days","21 years, 142 days",1862-07-24 00:00:00,"79 years, 231 days"
8,9,William,Harrison,"Feb 9, 1773",1841-03-04,"68 years, 23 days",1841-04-04,"68 years, 54 days",0 days,1841-04-04 00:00:00,"68 years, 54 days"
9,10,John,Tyler,"Mar 29, 1790",1841-04-04,"51 years, 6 days",1845-03-04,"54 years, 340 days","16 years, 320 days",1862-01-18 00:00:00,"71 years, 295 days"
10,11,James,Polk,"Nov 2, 1795",1845-03-04,"49 years, 122 days",1849-03-04,"53 years, 122 days",103 days,1849-06-15 00:00:00,"53 years, 225 days"
11,12,Zachary,Taylor,"Nov 24, 1784",1849-03-04,"64 years, 100 days",1850-07-09,"65 years, 227 days",0 days,1850-07-09 00:00:00,"65 years, 227 days"
12,13,Millard,Fillmore,"Jan 7, 1800",1850-07-09,"50 years, 183 days",1853-03-04,"53 years, 56 days","21 years, 4 days",1874-03-08 00:00:00,"74 years, 60 days"
13,14,Franklin,Pierce,"Nov 23, 1804",1853-03-04,"48 years, 101 days",1857-03-04,"52 years, 101 days","12 years, 218 days",1869-10-08 00:00:00,"64 years, 319 days"
14,15,James,Buchanan,"Apr 23, 1791",1857-03-04,"65 years, 315 days",1861-03-04,"69 years, 315 days","7 years, 89 days",1868-06-01 00:00:00,"77 years, 39 days"
15,16,Abraham,Lincoln,"Feb 12, 1809",1861-03-04,"52 years, 20 days",1865-04-15,"56 years, 62 days",0 days,1865-04-15 00:00:00,"56 years, 62 days"
16,17,Andrew,Johnson,"Dec 29, 1808",1865-04-15,"56 years, 107 days",1869-03-04,"60 years, 65 days","6 years, 149 days",1875-07-31 00:00:00,"66 years, 214 days"
17,18,Ulysses,Grant,"Apr 27, 1822",1869-03-04,"46 years, 311 days",1877-03-04,"54 years, 311 days","8 years, 141 days",1885-07-23 00:00:00,"63 years, 87 days"
18,19,Rutherford,Hayes,"Oct 4, 1822",1877-03-04,"54 years, 151 days",1881-03-04,"58 years, 151 days","11 years, 319 days",1893-01-17 00:00:00,"70 years, 105 days"
19,20,James,Garfield,"Nov 19, 1831",1881-03-04,"49 years, 105 days",1881-09-19,"49 years, 304 days",0 days,1881-09-19 00:00:00,"49 years, 304 days"
20,21,Chester,Arthur,"Oct 5, 1829",1881-09-19,"51 years, 349 days",1885-03-04,"55 years, 150 days","1 year, 259 days",1886-11-18 00:00:00,"57 years, 44 days"
21,22,Grover,Cleveland,"Mar 18, 1837",1885-03-04,"47 years, 351 days",1889-03-04,"51 years, 351 days","4 years, 0 days[c]",1908-06-24 00:00:00,"71 years, 98 days"
22,23,Benjamin,Harrison,"Aug 20, 1833",1889-03-04,"55 years, 196 days",1893-03-04,"59 years, 196 days","8 years, 9 days",1901-03-13 00:00:00,"67 years, 205 days"
23,24,Grover,Cleveland,"Mar 18, 1837",1893-03-04,"55 years, 351 days",1897-03-04,"59 years, 351 days","11 years, 112 days[d]",1908-06-24 00:00:00,"71 years, 98 days"
24,25,William,McKinley,"Jan 29, 1843",1897-03-04,"54 years, 34 days",1901-09-14,"58 years, 228 days",0 days,1901-09-14 00:00:00,"58 years, 228 days"
25,26,Theodore,Roosevelt,"Oct 27, 1858",1901-09-14,"42 years, 322 days",1909-03-04,"50 years, 128 days","9 years, 308 days",1919-01-06 00:00:00,"60 years, 71 days"
26,27,William,Taft,"Sep 15, 1857",1909-03-04,"51 years, 170 days",1913-03-04,"55 years, 170 days","17 years, 4 days",1930-03-08 00:00:00,"72 years, 174 days"
27,28,Woodrow,Wilson,"Dec 28, 1856",1913-03-04,"56 years, 66 days",1921-03-04,"64 years, 66 days","2 years, 336 days",1924-02-03 00:00:00,"67 years, 37 days"
28,29,Warren,Harding,"Nov 2, 1865",1921-03-04,"55 years, 122 days",1923-08-02,"57 years, 273 days",0 days,1923-08-02 00:00:00,"57 years, 273 days"
29,30,Calvin,Coolidge,"Jul 4, 1872",1923-08-02,"51 years, 29 days",1929-03-04,"56 years, 243 days","3 years, 307 days",1933-01-05 00:00:00,"60 years, 185 days"
30,31,Herbert,Hoover,"Aug 10, 1874",1929-03-04,"54 years, 206 days",1933-03-04,"58 years, 206 days","31 years, 230 days",1964-10-20 00:00:00,"90 years, 71 days"
31,32,Franklin,Roosevelt,"Jan 30, 1882",1933-03-04,"51 years, 33 days",1945-04-12,"63 years, 72 days",0 days,1945-04-12 00:00:00,"63 years, 72 days"
32,33,Harry,Truman,"May 8, 1884",1945-04-12,"60 years, 339 days",1953-01-20,"68 years, 257 days","19 years, 341 days",1972-12-26 00:00:00,"88 years, 232 days"
33,34,Dwight,Eisenhower,"Oct 14, 1890",1953-01-20,"62 years, 98 days",1961-01-20,"70 years, 98 days","8 years, 67 days",1969-03-28 00:00:00,"78 years, 165 days"
34,35,John,Kennedy,"May 29, 1917",1961-01-20,"43 years, 236 days",1963-11-22,"46 years, 177 days",0 days,1963-11-22 00:00:00,"46 years, 177 days"
35,36,Lyndon,Johnson,"Aug 27, 1908",1963-11-22,"55 years, 87 days",1969-01-20,"60 years, 146 days","4 years, 2 days",1973-01-22 00:00:00,"64 years, 148 days"
36,37,Richard,Nixon,"Jan 9, 1913",1969-01-20,"56 years, 11 days",1974-08-09,"61 years, 212 days","19 years, 256 days",1994-04-22 00:00:00,"81 years, 103 days"
37,38,Gerald,Ford,"Jul 14, 1913",1974-08-09,"61 years, 26 days",1977-01-20,"63 years, 190 days","29 years, 340 days",2006-12-26 00:00:00,"93 years, 165 days"
38,39,Jimmy,Carter,"Oct 1, 1924",1977-01-20,"52 years, 111 days",1981-01-20,"56 years, 111 days","38 years, 175 days",Still alive,"94 years, 286 days"
39,40,Ronald,Reagan,"Feb 6, 1911",1981-01-20,"69 years, 349 days",1989-01-20,"77 years, 349 days","15 years, 137 days",2004-06-05 00:00:00,"93 years, 120 days"
40,41,George,Bush,"Jun 12, 1924",1989-01-20,"64 years, 222 days",1993-01-20,"68 years, 222 days","25 years, 314 days",2018-11-30 00:00:00,"94 years, 171 days"
41,42,Bill,Clinton,"Aug 19, 1946",1993-01-20,"46 years, 154 days",2001-01-20,"54 years, 154 days","18 years, 175 days",Still alive,"72 years, 329 days"
42,43,George,Bush,"Jul 6, 1946",2001-01-20,"54 years, 198 days",2009-01-20,"62 years, 198 days","10 years, 175 days",Still alive,"73 years, 8 days"
43,44,Barack,Obama,"Aug 4, 1961",2009-01-20,"47 years, 169 days",2017-01-20,"55 years, 169 days","2 years, 175 days",Still alive,"57 years, 344 days"